In [1]:
import pandas as pd

In [5]:
Movies_mojo=pd.read_csv('codes/Box_Office_Mojo_Domestic_Box_Office_Chart.csv')
Movies_mojo.head()

,Unnamed: 0,Title,Gross,Max_Theaters,Opening_Weekend_Theaters,Opening_Weekend_Gross,Opening_Weekend_Percent_of_Gross,Distributor,Genres,Rating,Runtime,Date
0,0,The Woman in Black 2: Angel of Death,26501323.0,2602,2602,15027415.0,56.7,Relativity Media,"['Drama', 'Horror', 'Thriller']",PG-13,98,2015-01-02
1,1,The Search for General Tso,54275.0,13,2,9336.0,17.2,IFC Films,"['Comedy', 'Documentary', 'History', 'Mystery']",NaN,71,2015-01-02
2,2,The Taking of Tiger Mountain,228984.0,13,7,50621.0,22.1,Well Go USA Entertainment,"['Action', 'Adventure', 'Biography', 'History'...",NaN,141,2015-01-02
3,3,Li'l Quinquin,7192.0,2,1,3204.0,44.5,Kino Lorber,"['Comedy', 'Crime', 'Mystery']",NaN,206,2015-01-02
4,4,Trace Amounts,80735.0,7,0,0.0,0.0,GathrFilms,"['Adventure', 'Documentary', 'Drama', 'History']",NaN,97,2015-01-02

In [8]:
Movies_imdb=pd.read_csv('zippedData/tmdb.movies.csv')
Movies_imdb.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [14]:
Movies_imdb['title_lowercase']=Movies_imdb['original_title'].apply(lambda x:x.lower().replace(' ',''))

In [13]:
Movies_mojo['title_lowercase']=Movies_mojo['Title'].apply(lambda x:x.lower().replace(' ',''))

In [16]:
df=Movies_mojo.merge(Movies_imdb,how='left',on='title_lowercase')

In [22]:
df.drop(axis=1,columns="Unnamed: 0_x",inplace=True)

In [24]:
df.shape

(4539, 22)

In [30]:
df.sort_values('Opening_Weekend_Gross',ascending=False)[:20]

,Title,Gross,Max_Theaters,Opening_Weekend_Theaters,Opening_Weekend_Gross,Opening_Weekend_Percent_of_Gross,Distributor,Genres,Rating,Runtime,...,Unnamed: 0_y,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
3817,Avengers: Endgame,858373000.0,4662,4662,357115007.0,41.6,-,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",PG-13,181,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2898,Avengers: Infinity War,678815482.0,4474,4474,257698183.0,38.0,-,"['Action', 'Adventure', 'Sci-Fi']",PG-13,149,...,23811.0,"[12, 28, 14]",299536.0,en,Avengers: Infinity War,80.773,2018-04-27,Avengers: Infinity War,8.3,13948.0
820,Star Wars: Episode VII - The Force Awakens,936662225.0,4134,4134,247966675.0,26.5,-,"['Action', 'Adventure', 'Sci-Fi']",PG-13,138,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2553,Star Wars: Episode VIII - The Last Jedi,620181382.0,4232,4232,220009584.0,35.5,-,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",PG-13,152,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330,Jurassic World,652270625.0,4291,4274,208806270.0,32.0,Universal Pictures,"['Action', 'Adventure', 'Sci-Fi']",PG-13,124,...,14193.0,"[28, 12, 878, 53]",135397.0,en,Jurassic World,20.709,2015-06-12,Jurassic World,6.6,14056.0
2677,Black Panther,700059566.0,4084,4020,202003951.0,28.9,-,"['Action', 'Adventure', 'Sci-Fi']",PG-13,134,...,23817.0,"[28, 12, 14, 878]",284054.0,en,Black Panther,44.140,2018-02-16,Black Panther,7.4,12365.0
2676,Black Panther,700059566.0,4084,4020,202003951.0,28.9,-,"['Action', 'Adventure', 'Sci-Fi']",PG-13,134,...,3444.0,"[28, 16]",86841.0,en,Black Panther,2.058,2011-01-18,Black Panther,5.1,11.0
3992,The Lion King,543638043.0,4802,4725,191770759.0,35.3,-,"['Adventure', 'Animation', 'Drama', 'Family', ...",PG,118,...,2472.0,"[10751, 16, 18]",8587.0,en,The Lion King,28.583,1994-06-23,The Lion King,8.2,10160.0
249,Avengers: Age of Ultron,459005868.0,4276,4276,191271109.0,41.7,-,"['Action', 'Adventure', 'Sci-Fi']",PG-13,141,...,14169.0,"[28, 12, 878]",99861.0,en,Avengers: Age of Ultron,44.383,2015-05-01,Avengers: Age of Ultron,7.3,13457.0
3031,The Incredibles 2,608581744.0,4410,4410,182687905.0,30.0,-,"['Action', 'Adventure', 'Animation', 'Comedy',...",PG,118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1122,Captain America: Civil War,408084349.0,4226,4226,179139142.0,43.9,-,"['Action', 'Adventure', 'Sci-Fi']",PG-13,147,...,17382.0,"[12, 28, 878]",271110.0,en,Captain America: Civil War,39.137,2016-05-06,Captain America: Civil War,7.4,14000.0
4342,Star Wars: The Rise of Skywalker,515202542.0,4406,4406,177383864.0,34.4,-,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",PG-13,141,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1873,Beauty and the Beast,504014165.0,4210,4210,174750616.0,34.7,-,"['Family', 'Fantasy', 'Musical', 'Romance']",PG,129,...,5181.0,"[10749, 10751, 16, 14]",10020.0,en,Beauty and the Beast,26.701,2012-01-13,Beauty and the Beast,7.7,5730.0
1874,Beauty and the Beast,504014165.0,4210,4210,174750616.0,34.7,-,"['Family', 'Fantasy', 'Musical', 'Romance']",PG,129,...,20627.0,"[10751, 14, 10749]",321612.0,en,Beauty and the Beast,31.793,2017-03-17,Beauty and the Beast,6.9,11023.0
1030,Batman v Superman: Dawn of Justice,330360194.0,4256,4242,166007347.0,50.3,Warner Bros.,"['Action', 'Adventure', 'Sci-Fi']",PG-13,152,...,17390.0,"[28, 12, 14]",209112.0,en,Batman v Superman: Dawn of Justice,28.088,2016-03-25,Batman v Superman: Dawn of Justice,5.8,11991.0
1679,Rogue One: A Star Wars Story,532177324.0,4157,4157,155081681.0,29.1,-,"['Action', 'Adventure', 'Sci-Fi']",PG-13,133,...,17401.0,"[28, 12, 878]",330459.0,en,Rogue One: A Star Wars Story,21.401,2016-12-16,Rogue One: A Star Wars Story,7.5,9296.0
1680,Rogue One: A Star Wars Story,532177324.0,4157,4157,155081681.0,29.1,-,"['Action', 'Adventure', 'Sci-Fi']",PG-13,133,...,20655.0,"[28, 12, 878]",330459.0,en,Rogue One: A Star Wars Story,21.401,2016-12-16,Rogue One: A Star Wars Story,7.5,9296.0
3676,Captain Marvel,426829839.0,4310,4310,153433423.0,35.9,-,"['Action', 'Adventure', 'Sci-Fi']",PG-13,123,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3040,Jurassic World: Fallen Kingdom,417719760.0,4485,4475,148024610.0,35.4,Universal Pictures,"['Action', 'Adventure', 'Sci-Fi']",PG-13,128,...,23829.0,"[28, 12, 878]",351286.0,en,Jurassic World: Fallen Kingdom,34.958,2018-06-22,Jurassic World: Fallen Kingdom,6.5,5995.0
183,Furious 7,353007020.0,4022,4004,147187040.0,41.7,Universal Pictures,"['Action', 'Adventure', 'Thriller']",PG-13,137,...,14196.0,"[28, 80, 53]",168259.0,en,Furious 7,20.396,2015-04-03,Furious 7,7.3,6538.0